<!DOCTYPE html>
<html lang="sv">
<head th:substituteby="head :: head"></head>
  <body>
        <div class="container">
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">BHG</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index">Ladda upp</a></li>
      <li><a href="album">Bläddra</a></li>
      <li class="dropdown">
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inställningar <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="j_spring_security_logout">Logga ut</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>  

      <h1>Här laddar du upp bilder till vårt gemensamma fotoalbum</h1>
      <div id="fine-uploader"></div>
      <div id="thumbnails"></div>
      
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/foton/assets/js/bootstrap.min.js"></script>
    <script src="/foton/assets/js/jquery.fineuploader-3.6.0.min.js"></script>
    <script src="/foton/assets/js/upload.js"></script>
    </body>
</html>