<!DOCTYPE html>
<html lang="sv">
<head th:substituteby="head :: head"></head>
  <body>
  <div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">Föregående</a>
    <a class="next">Nästa</a>
    <a class="close">Stäng</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
        <div class="container">
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">BHG</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="index">Ladda upp</a></li>
      <li class="active"><a href="photos">Bläddra</a></li>
      <li class="dropdown">
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inställningar <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Exempel 1</a></li>
          <li><a href="#">Exempel 2</a></li>
          <li><form action="logout" method="POST"><button class="btn-s" type="submit">Logga ut</button></form></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>  

    <div id="links">
        <a th:each="photo : ${album.photos}" th:href="${'/foton/photo/' + photo.photo + '/1500'}" >
            <img class="img-thumbnail" th:src="${'/foton/photo/' + photo.photo + '/250'}"/>
        </a>
    </div>

    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/foton/assets/js/bootstrap.min.js"></script>
    <script src="/foton/assets/js/blueimp-gallery.min.js"></script>
    <script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event, continuous: false},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
    </body>
</html>